<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <form action="/chart" method="post" class="form-style-5">
        <select name="dropdown">
            <option value="1">Marks Scored</option>
            <option value="2">Cricket score</option>

        </select>
        <input type="submit" name="submit">

    </form>


</body>

</html>